venv
__pycache__
tests
users_fingerprints.json
logs.txt
axiom_users_fingerprints.json
.env
ascend.db
TODO.md
.cursor


.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
