{
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "printWidth": 80,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "auto",
    "svelteSortOrder": "options-scripts-markup-styles"
}
